*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.btn{
   border-radius: 4px;
   padding: 15px 35px;
   font-weight: 600;
   font-size: 16px;
   border: 1px solid white;
   background-color: #006028;
   color: #ffffff;
   cursor: pointer;

}
.btn:hover {
    background-color: #43a36f;
}

header{
   background-color: #ffffff; 
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px ;
}
.iteam-parent{
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 10px;
    
}
.iteam-parent a{
    text-decoration: none;

}


 .pk {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hrr {
  position: absolute;
  text-align: center;
  max-width: 700px;
}


body {
  overflow-x: hidden;
}
.h1-1{
    color: #ffffff; 
    font-style: normal;
    margin: 10px auto;
}
.h1-2{
    color: #02eb63;
    font-style: normal;
    margin: 10px auto;
}
.hrr p{
    color: #ffffff;
    font-style: normal;
    margin: 10px auto;
}
.hrr-1{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-a{
    border-radius: 6px;
    padding: 15px 10px;
    border: 1px solid #006028;
    background-color:#037c35;
    display: inline-flex;
    gap: 12px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    
   
}
.btn-a:hover {
    background-color: #43a36f;
}

.btn-b {
  gap: 12px;

  padding: 14px 28px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: transparent;

  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;

  backdrop-filter: blur(6px);
}

.btn-b:hover {
  border-color: #ffffff;
}

